body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	letter-spacing: 0.03em;
	background-color: white;
}	

.introduction h1{
	margin-top: 17.5rem;
    font-size: 3.125rem;
    color:white;
}

.introduction {
    background-image: url('http://i1077.photobucket.com/albums/w464/reygarcia718/unspecified_zps9xaieg0a.jpeg?t=1457371726');
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow:auto;
}

.introduction h1, .introduction h3 {
	text-align: center;
	font-weight: 300;
	color:white;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.introduction .buttons {
	color:white;
	text-align: center;
	margin-top: 1.563rem;
}

button {
   
    left:42%; /*QUESTION what can i do to align center*/
	position:relative;
 	width:9.688rem;
    background-color: #F12A29;
    border-color: #F12A29;
    text-shadow: none;
    border-style: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    color:white;
    font-size: 1.125rem;
}

div{
	border: 1px solid transparent;
}

li{
	text-align: center;
	display: inline;
	float: left;
}

.top-navigation .logo{
	height: 4.735rem;
}

.top-navigation {
	background-color: #fff;
	position:fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation .links {
    float: right;
    font-family: Roboto, sans-serif;
    color: #838994;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

img {
	width:427; 
	height:127;
}

img .logo {
	margin:left; 
}
.img {
	width:527; 
	height:127;
}/*complex code, alignment of devices changes*/ 
}
.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;

}
.cases h2{
 	font-size: 2.75rem;
 	margin: 1.625rem 0 3.125rem;
 	font-weight: 300; 
	text-align:center;
}

.cases {
	background-color:#fff;
	overflow: hidden;
	padding-bottom: 5rem;	
}

.cases .content {
 	margin-top: 7.875rem;
 	color:black;
 	text-align: center;
}

.cases .devices > li {
 	width:33.33333%;
 	float: left;
}

.content {
	padding:.948rem;
}

.social {
	background-color:white;
	color:black;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;
}

.social .content {
	text-align: center;
}

.social .content .icon {
	text-align: center;
}

.social hr {
	border:0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem;
}