 body {
     background: #2B4584;
 }
 
 h1 {
     text-align: center;
     line-height: 65px;
     font-size: 30px;
     color: orange;
     letter-spacing: 1px;
     background: rgb(29, 47, 90);
     font-family: sans-serif;
     height: 67px;
     margin-top: 24px;
 }
 
 .container {
     width: 1000px;
     margin: auto;
 }
 
 #map {
     height: 600px;
     width: 100%;
     margin: 0;
 }
 
 #map img {
     width: 740px;
     display: block;
     margin: auto;
 }
 
 .reset {
     height: 0px;
     color: white;
     font-size: 16px;
     float: right;
     margin-right: 20px;
     cursor: pointer;
 }
 
 .reset:hover {
     color: orange;
 }
 
 .search-bar {
     width: 100%;
     background: rgba(0, 0, 0, 0.32);
     display: inline-block;
     height: 120px;
     margin-top: 5px;
 }
 
 h2 {
     text-align: center;
     font-size: 18px;
     color: orange;
     letter-spacing: 1px;
     font-family: sans-serif;
 }
 
 #zip-code {
     margin-left: 154px;
     margin-top: 5px;
     height: 22px;
     width: 103px;
     text-align: center;
     border-radius: 5px;
     padding: 4px;
 }
 
 #geo-location {
     float: right;
     margin-right: 231px;
     margin-top: 5px;
     font-size: 17px;
     box-shadow: 2px 2px 3px #888888;
     width: 177px;
     height: 49px;
     background: #001f3f;
     border-radius: 50% / 10%;
     color: white;
     text-align: center;
     text-indent: 0.1em;
 }
 
 #geo-location:hover {
     background: orange;
     cursor: pointer;
     color: black;
     -o-transition: .5s;
     -ms-transition: .5s;
     -moz-transition: .5s;
     -webkit-transition: .5s;
 }
 
 #search {
     font-size: 17px;
     box-shadow: 2px 2px 3px #888888;
     position: relative;
     margin-top: 5px;
     width: 177px;
     height: 49px;
     background: #001f3f;
     border-radius: 50% / 10%;
     color: white;
     text-align: center;
     text-indent: 0.1em;
 }
 
 #search:hover {
     cursor: pointer;
     background-color: orange;
     color: black;
     -o-transition: .5s;
     -ms-transition: .5s;
     -moz-transition: .5s;
     -webkit-transition: .5s;
 }
